services:
  - type: web
    name: train-routing-api
    env: python
    plan: free  
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    autoDeploy: true
    envVars:
      - key: PORT
        value: "5000"  
    pythonVersion: "3.14.3"
